#root {
  overflow-y: hidden;
}
.GameRoom * {
  display: inline-block;
  box-sizing: border-box;
  position: absolute;
  font-size: 0;
  z-index: 1;
}
.font {
  font-size: 13px;
}
.button {
  height: 20px;
  width: 90px;
}
.static {
  position: static;
}
.hidden {
  visibility: hidden;
}
.onTop {
  z-index: 10;
}

#gameTable {
  z-index: 0;
  width: 750px;
  height: 750px;
}

/*Forms*/
.form {
  padding: 10px;
  background-color: lightblue;
  z-index: 10;
  border-style: ridge;
}
.form * {
  position: static;
}
.label {
  padding-right: 3px;
}
/*Decisions Form*/
#decisions {
  width: 200px;
  left: 275px;
}
.lineContainer {
  float: right;
}
#postDecisions {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  padding-left: 10px;
  padding-right: 10px;
}
#buttonContainer {
  width: 100%;
  height: 35px;
}
.select {
  padding: 5px;
  width: 110px;
  margin-bottom: 5px;
}
/*Dealer Form*/
#dealer {
  width: 136px;
  left: 307px;
}
#shuffle {
  height: 20px;
}
#deal {
  height: 20px;
  position: absolute;
  right: 10px;
}
/*Bidding Form*/
#bidding {
  width: 146px;
  left: 302px;
}
#sendBid {
  position: absolute;
  right: 10px;
}
/*Forms*/

/*InfoBoxes*/
.infoBox {
  height: 45px;
  top: 450px;
}
.infoBoxSmall {
  height: 20px;
  top: 460px;
}
.infoBoxText {
  position: absolute;
  top: 4px;
}
/*Your Turn Box*/
#yourTurn {
  width: 100px;
  left: 324px;
}
#turnText {
  position: absolute;
  top: 3px;
  left: 19px;
}
/*Play Card Button*/
#playCardButton {
  top: 463px;
  left: 330px;
}
/*Spades Broken Warning*/
#spadesBrokenWarning {
  width: 120px;
  left: 319px;
}
/*Follow Suit Warning*/
#followSuitWarning {
  width: 144px;
  left: 307px;
}
/*Round Winner*/
#roundWinner {
  width: 174px;
  left: 292px;
}
/*InfoBoxes*/

/*Table Area*/
#table {
  height: 750px;
  width: 750px;
  position: relative;
  border: 1px solid black;
  margin-bottom: -4px;
}
#startGame {
  top: 365px;
  left: 330px;
}
#leaveButton {
  top: 5px;
  left: 5px;
}
#standButton {
  top: 30px;
  left: 5px;
}
#sitButton0 {
  top: 365px;
  left: 5px;
  z-index: 10;
}
#sitButton1 {
  top: 40px;
  left: 330px;
  z-index: 10;
}
#sitButton2 {
  top: 365px;
  left: 655px;
  z-index: 10;
}
#sitButton3 {
  top: 690px;
  left: 330px;
  z-index: 10;
}
.card {
  height: 124px;
  width: 89px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-radius: 8px;
}
#playCard0 {
  top: 312px;
  left: 230px;
}
#playCard1 {
  top: 212px;
  left: 330px;
}
#playCard2 {
  top: 312px;
  left: 430px;
}
#playCard3 {
  top: 412px;
  left: 330px;
}
/*Table Area*/

/*Seats*/
.playerBox {
  padding: 0px;
  width: 120px;
  height: 65px;
  overflow: hidden;
  text-align: center;
}
.playerInfoLine {
  top: 0px;
  left: 0px;
  height: 20px;
  line-height: 20px;
  width: 100%;
}
.playerInfoText {
  display: inline;
}
/*Seat 0*/
#seat0 {
  height: 550px;
  width: 100px;
  top: 100px;
}
#playerBox0 {
  top: 74px;
}
#cards0 {
  transform: rotate(90deg);
  top: 364px;
  left: -202px;
  height: 100px;
  width: 550px;
}
#card-0-0  { left: 0px;   }
#card-0-1  { left: 15px;  }
#card-0-2  { left: 30px;  }
#card-0-3  { left: 45px;  }
#card-0-4  { left: 60px;  }
#card-0-5  { left: 75px;  }
#card-0-6  { left: 90px;  }
#card-0-7  { left: 105px; }
#card-0-8  { left: 120px; }
#card-0-9  { left: 135px; }
#card-0-10 { left: 150px; }
#card-0-11 { left: 165px; }
#card-0-12 { left: 180px; }
/*Seat 1*/
#seat1 {
  height: 100px;
  width: 550px;
  left: 100px;
}
#playerBox1 {
  right: 22px;
}
#cards1 {
  top: 0px;
  left: 139px;
  height: 100px;
  width: 271px;
}
#card-1-0  { left: 180px; }
#card-1-1  { left: 165px; }
#card-1-2  { left: 150px; }
#card-1-3  { left: 135px; }
#card-1-4  { left: 120px; }
#card-1-5  { left: 105px; }
#card-1-6  { left: 90px;  }
#card-1-7  { left: 75px;  }
#card-1-8  { left: 60px;  }
#card-1-9  { left: 45px;  }
#card-1-10 { left: 30px;  }
#card-1-11 { left: 15px;  }
#card-1-12 { left: 0px;   }
/*Seat 2*/
#seat2 {
  height: 550px;
  width: 100px;
  left: 650px;
  top: 100px;
}
#playerBox2 {
  right: 2px;
  bottom: 77px;
}
#cards2 {
  transform: rotate(90deg);
  top: 364px;
  left: -227px;
  height: 100px;
  width: 550px;
}
#card-2-0 { left: 180px; }
#card-2-1 { left: 165px; }
#card-2-2 { left: 150px; }
#card-2-3  { left: 135px; }
#card-2-4  { left: 120px; }
#card-2-5  { left: 105px; }
#card-2-6  { left: 90px;  }
#card-2-7  { left: 75px;  }
#card-2-8  { left: 60px;  }
#card-2-9  { left: 45px;  }
#card-2-10  { left: 30px;  }
#card-2-11  { left: 15px;  }
#card-2-12  { left: 0px;   }
/*Seat 3*/
#seat3 {
  top: 574px;
  left: 100px;
  height: 176px;
  width: 550px;
}
#playerBox3 {
  bottom: 2px;
  left: -100px;
}
#cards3 {
  top: 50px;
  left: 0px;
  height: 154px;
  width: 100%;
}
.upCard    { top: -30px;  }
#card-3-0  { left: 20px;  }
#card-3-1  { left: 55px;  }
#card-3-2  { left: 90px;  }
#card-3-3  { left: 125px; }
#card-3-4  { left: 160px; }
#card-3-5  { left: 195px; }
#card-3-6  { left: 230px; }
#card-3-7  { left: 265px; }
#card-3-8  { left: 300px; }
#card-3-9  { left: 335px; }
#card-3-10 { left: 370px; }
#card-3-11 { left: 405px; }
#card-3-12 { left: 440px; }
/*Seats*/

/*Chat Area*/
#chatDiv {
  height: 750px;
  width: 375px;
  vertical-align: top;
}
#chatLog {
  height: 725px;
  width: 100%;
  resize: none;
  border: 1px solid black;
  border-bottom: none;
}
#chatForm {
  height: 25px;
  top: 725px;
}
#chatInput {
  height: 25px;
  width: 325px;
  border: 1px solid black;
  border-right: none;
}
#chatButton {
  height: 25px;
  width: 50px;
  left: 325px;
  border: 1px solid black;
  border-left: 1px solid grey;
}
/*Chat Area*/










/*Larger screen dimensions*/
/*@media screen and (max-width: 540px) {
    .view {
        width: 400px;
    }
}*/

/* For Tablets */
/*@media screen and (min-width: 540px) and (max-width: 780px) {*/

/*Smaller screen dimensions*/







